*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root{
   --sideBGColor:#040b14;
   --themeColor:#00A78E;
   --iconBGColor:#2C2FC3;
   --textColor:#525252;
   --bgColor:#F7F7F7;
}